@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Parkinsans:wght@300..800&family=Signika+Negative:wght@300..700&family=Tektur:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  /* font */
  --font-poppins: "Poppins", sans-serif;
  --font-signika: "Signika Negative", sans-serif;
  --font-mukta: "Mukta", sans-serif;
  --font-tektur: "Tektur", sans-serif;
  --font-parkinsans: "Parkinsans", sans-serif;

  /* dark */
  /* --color-darkbg: #040404; */
  /* --color-darkbgBlues: #0d1117;
  --color-darkbgGray: #1e1e1e;
  --color-darkbgNavy: #121a26;
  --color-darkbgblue: #00071e;
  --color-darkbg: #0d1117;
  --color-darkBlue: #041340;
  --color-darkPurple: #290773;
  --color-secondaryDarkBg: #041a59;

  /* light */
  /* --color-lightbg: #041a59;
  --color-lightPurple: #5505a6;
  --color-lightBlue: #0a58bf;  */

  /* pallate */
  /* --color-background: #00071e; */
  --color-background: oklch(14.1% 0.005 285.823);
  /* --color-surface: #041340; */
  --color-surface: oklch(0.21 0.006 285.885);
  --color-surface-secondary: #0a1d4c;
  --color-primary: #3d7eff;
  --color-accent-1: #5fa9f4;
  --color-accent-2: #47d8e0;
  --color-highlight: #7288ff;
  /* --color-text: #d1d9f0; */
  --color-text: oklch(98.2% 0.018 155.826);
  /* --color-subtext: #7c8bac; */
  --color-subtext: color-mix(
    in oklab,
    oklch(98.2% 0.018 155.826) 70%,
    transparent
  );
  --color-shineText: oklch(89.7% 0.196 126.665);
  --color-divider: #0d1a3a;
  --color-cyan: oklch(0.715 0.143 215.221);

  /* text */
  --color-aliceBlue: #f0f8ff;

  /* animate */
  --animate-shine: shine 3s linear infinite;
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

@layer components {
  /* animation text shine */
  @keyframes text {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  .highlight-text {
    background-image: linear-gradient(
      120deg,
      transparent 40%,
      oklch(93.8% 0.127 124.321) 50%,
      transparent 60%
    );
    background-size: 200% 100%;
    background-clip: text;
    animation: text 2s linear infinite;
  }

  /* sprite */
  .sprite {
    width: 48px;
    height: 48px;
    background-size: cover;
  }

  /* step */
  .step-4 {
    animation: step4 0.7s steps(4) infinite;
  }
  @keyframes step4 {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -192px 0;
    }
  }
  .step-6 {
    animation: step6 1s steps(6) infinite;
  }
  @keyframes step6 {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -288px 0;
    }
  }
  /*===================== animal */

  .grabIcon-animation {
    animation: grabIcon 1s ease-in-out infinite;
  }
  @keyframes grabIcon {
    0% {
      transform: scale(1);
      translate: 0px 0px;
      rotate: 0deg;
    }
    50% {
      transform: scale(1.1);
      translate: 0px -5px;
      rotate: 15deg;
    }
    100% {
      transform: scale(1);
      translate: 0px 0px;
    }
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: oklch(14.1% 0.005 285.823);
}
*::-webkit-scrollbar-thumb {
  background: oklch(0.21 0.006 285.885);
  border-radius: 1000px;
}
